.fix-but {
  position: fixed;
  top: 50px;
  z-index: 9;
}

:host ::ng-deep .ng-autocomplete {
  width:100%;
  font-size:12px;
  display: table;
  margin: 0 auto;
}
:host ::ng-deep .autocomplete-container .input-container input {
  font-family: "Roboto", sans-serif;
  height: 35px;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.87);
  background: #ffffff;
  padding: 0.6rem;
  border: 1px solid rgba(0, 0, 0, 0.38);
  transition: background-color 0.2s, border-color 0.2s, color 0.2s, box-shadow 0.2s, background-size 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  -webkit-appearance: none;
  appearance: none;
  border-radius: 4px;
}

:host ::ng-deep .autocomplete-container {
  box-shadow:none;
  position: relative;
  overflow: visible;
  height: 40px;
}

:host ::ng-deep .autocomplete-container .suggestions-container ul li a {
  padding: 0.6rem;
  display: block;
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
  font-weight:bold;
}
