<p-toast></p-toast>
<p-fieldset legend="Mẫu thư đi" [style]="{overflow: 'auto', height:'87vh'}">
  <div class="button-header fix-but">
    <button class="tool" pButton icon="pi pi-book" (click)="clickAddSample()" type="button" label="Thêm mới"></button>
    <button class="tool" pButton icon="pi pi-pencil" (click)="clickOnEdit()" type="button" label="Sửa"></button>
    <button class="tool" pButton icon="pi pi-trash" (click)="clickDeleted()" type="button" label="Xóa"></button>
    <button class="tool" pButton icon="pi pi-sort-alt" type="button" label="Import"></button>
  </div>
  <p-fieldset legend="Thông tin thư đi">
    <div class="grid">
      <div class="col-6 grid">
        <div class="col-4 text-center"><label>Cơ quan</label></div>
        <div class="col-8">
          <p-dropdown [options]="listUnit" [(ngModel)]="selectedUnit"
                      optionLabel="name" [filter]="true" filterBy="name"
                      [showClear]="true" placeholder="--Vui lòng chọn--">
            <ng-template pTemplate="selectedItem">
              <div *ngIf="selectedUnit">
                <div>{{selectedUnit.name}}</div>
              </div>
            </ng-template>
            <ng-template let-data pTemplate="item">
              <div>{{data.name}}</div>
            </ng-template>
          </p-dropdown>
        </div>
      </div>
      <div class="col-6 grid">
        <div class="col-4 text-center"><label>Năm</label></div>
        <div class="col-8">
          <p-dropdown
            optionLabel="name" [filter]="true" filterBy="name"
            [showClear]="true" placeholder="--Vui lòng chọn--">
            <ng-template pTemplate="selectedItem">
              <div>
                <div></div>
              </div>
            </ng-template>
            <ng-template let-data pTemplate="item">
              <div></div>
            </ng-template>
          </p-dropdown>
        </div>
      </div>
      <div class="col-6 grid">
        <div class="col-4 text-center"><label>Đơn vị</label></div>
        <div class="col-8">
          <p-dropdown
            optionLabel="name" [filter]="true" filterBy="name"
            [showClear]="true" placeholder="--Vui lòng chọn--">
            <ng-template pTemplate="selectedItem">
              <div>
                <div></div>
              </div>
            </ng-template>
            <ng-template let-data pTemplate="item">
              <div></div>
            </ng-template>
          </p-dropdown>
        </div>
      </div>
      <div class="col-6 grid">
        <div class="col-4 text-center"><label>Người yêu cầu</label></div>
        <div class="col-8">
          <input pInputText type="text">
        </div>
      </div>
    </div>
  </p-fieldset>

  <p-fieldset legend="Dữ liệu bảng">
    <p-table [value]="listLetterSample"
             [paginator]="true"
             [rows]="10"
             selectionMode="single"
             (onRowSelect)="onRowSelect($event)"
             [(selection)]="selectedData"
             styleClass="p-datatable-gridlines"
             responsiveLayout="scroll">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th>STT</th>
          <th>Trích yếu</th>
          <th>Phân loại thư</th>
          <th>Nơi gửi</th>
          <th>Người nhận</th>
          <th>Đơn vị nhận</th>
          <th>Đơn vị trực thuộc</th>
          <th style="text-align:center">Tình trạng thư đến</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
        <tr [pSelectableRow]="row">
          <td>{{rowIndex + 1}}</td>
          <td>{{row.summary}}</td>
          <td>{{row.type | TypeLetter}}</td>
          <td>{{row.sendUnit.name}}</td>
          <td>{{row.sender.fullName}}</td>
          <td>{{row.receiveUnit?.name}}</td>
          <td>{{row.affiliatedReceiveUnit?.name}}</td>
          <td style="text-align:center">{{row.status | StatusLetter}}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-fieldset>
</p-fieldset>

<p-dialog [draggable]="false" [header]="titlePopUp" [(visible)]="onShowLetterSample"
          [style]="{width: '85vw', height:'85vh'}">
  <p-fieldset legend="Thông tin nhân viên">
    <div class="grid">
      <div class="col-4 grid">
        <div class="col-4"><label for="fullName">Họ và tên <span class="red-text">*</span></label></div>
        <div class="col-8">
          <input [(ngModel)]="user.fullName"
                 id="fullName"
                 [disabled]="true"
                 pInputText type="text"></div>
      </div>
      <div class="col-4 grid">
        <div class="col-4"><label for="ChucDanh">Chức danh</label></div>
        <div class="col-8">
          <input [disabled]="true"
                 [(ngModel)]="user.positionName"
                 id="ChucDanh"
                 class="w-full" pInputText type="text"></div>
      </div>
      <div class="col-4 grid">
        <div class="col-4"><label>Đơn vị</label></div>
        <div class="col-8">
          <input [disabled]="true"
                 [(ngModel)]="user.organization.name"
                 class="w-full" pInputText type="text"></div>
      </div>
      <div class="col-8 grid">
        <div class="col-12 grid">
          <div class="col-2">
            <div style="width:100px; padding-left:18px">
              <label>Đơn vị trực thuộc</label>
            </div>
          </div>
          <div class="col-10">
            <input [disabled]="true"
                   [(ngModel)]="user.organization.orgParent.name"
                   class="w-full" pInputText
                   type="text">
          </div>
        </div>
      </div>
    </div>
  </p-fieldset>
  <p-fieldset legend="Thông tin thư đi">
    <div class="grid">
      <div class="col-4 grid">
        <div class="col-4"><label>Phân loại thư <span class="red-text">*</span></label></div>
        <div class="col-8 flex flex-row justify-content-around">
          <div *ngFor="let category of listTypeLetters" class="p-field-checkbox">
            <p-radioButton
              [inputId]="category.key"
              name="category"
              [disabled]="isCheckDisabled"
              [value]="category"
              [(ngModel)]="checkboxTypeLetter"
            ></p-radioButton>
            <label class="pl-2" [for]="category.key">{{ category.name }}</label>
          </div>
        </div>
      </div>
      <div class="col-4 grid">
        <div class="col-4"><label>Sổ thư đi <span class="red-text">*</span></label></div>
        <div class="col-8">
          <p-dropdown
            [options]="listLetterBook"
            [(ngModel)]="thuDi.letterCode"
            optionLabel="name" [filter]="true" filterBy="name"
            [showClear]="true" placeholder="--Vui lòng chọn--">
            <ng-template pTemplate="selectedItem">
              <div *ngIf="thuDi.letterCode">
                <div>{{thuDi.letterCode.name}}</div>
              </div>
            </ng-template>
            <ng-template let-data pTemplate="item">
              <div>{{data.name}}</div>
            </ng-template>
          </p-dropdown>
        </div>
      </div>
      <div class="col-4 grid">
        <div class="disable-div"></div>
        <div class="col-4"><label>Mã thư đi</label></div>
        <div class="col-8"><input
          [disabled]="true" [(ngModel)]="thuDi.code" class="w-full" pInputText type="text">
        </div>
      </div>
      <div class="col-4 grid">
        <div class="col-4"><label>Ngày nhập</label></div>
        <div class="col-8">
          <p-calendar [disabled]="true"
                      [(ngModel)]="thuDi.inputDate"
                      styleClass="w-full"
                      [monthNavigator]="true"
                      [yearNavigator]="true"
                      yearRange="2000:2030"
                      appendTo="body"
                      [showIcon]="true"
                      dateFormat="dd/mm/yy"
                      inputId="time"></p-calendar>
        </div>
      </div>

      <div class="col-4 grid">
        <div class="col-4"><label>Ngày gửi</label></div>
        <div class="col-8">
          <p-calendar
            [(ngModel)]="thuDi.sendDate"
            styleClass="w-full"
            [monthNavigator]="true"
            [yearNavigator]="true"
            yearRange="2000:2030"
            appendTo="body"
            [showTime]="true" inputId="time"
            [showIcon]="true"
            dateFormat="dd/mm/yy"></p-calendar>
        </div>
      </div>

      <div class="col-4 grid">
        <div class="col-4"><label>Đơn vị gửi</label></div>
        <div class="col-8"><input [disabled]="true" [(ngModel)]="user.organization.name" class="w-full" pInputText
                                  type="text"></div>
      </div>

      <div class="col-4 grid">
        <div class="col-4"><label>Đơn vị trực thuộc gửi </label></div>
        <div class="col-8">
          <p-dropdown
            [options]="listAffiliatedSendUnit"
            [(ngModel)]="thuDi.affiliatedSendUnit"
            (onChange)="getSender(thuDi.affiliatedSendUnit)"
            optionLabel="name" [filter]="true" filterBy="name"
            [showClear]="true" placeholder="--Vui lòng chọn--">
            <ng-template pTemplate="selectedItem">
              <div *ngIf="thuDi.affiliatedSendUnit">
                <div>{{thuDi.affiliatedSendUnit.name}}</div>
              </div>
            </ng-template>
            <ng-template let-data pTemplate="item">
              <div>{{data.name}}</div>
            </ng-template>
          </p-dropdown>
        </div>
      </div>

      <div class="col-4 grid">
        <div class="col-4"><label>Người gửi</label></div>
        <div class="col-8">
          <p-dropdown
            [options]="listSender"
            [(ngModel)]="thuDi.sender"
            optionLabel="fullName" [filter]="true" filterBy="fullName"
            [showClear]="true" placeholder="--Vui lòng chọn--">
            <ng-template pTemplate="selectedItem">
              <div *ngIf="thuDi.sender">
                <div>{{thuDi.sender.fullName}}</div>
              </div>
            </ng-template>
            <ng-template let-data pTemplate="item">
              <div>{{data.fullName}}</div>
            </ng-template>
          </p-dropdown>
        </div>
      </div>
      <div class="col-4 grid">
        <div class="col-4"><label>Số hiệu văn bản</label></div>
        <div class="col-8"><input
          [(ngModel)]="thuDi.textCode"
          class="w-full" pInputText type="text"></div>
      </div>
      <div class="col-4 grid">
        <div class="col-4"><label>Độ mật <span class="red-text">*</span></label></div>
        <div class="col-8">
          <p-dropdown
            [options]="listSecurity"
            [(ngModel)]="thuDi.securityLevel"
            [showClear]="true"
            placeholder="---Vui lòng chọn---"
            optionLabel="name"></p-dropdown>
        </div>
      </div>
      <div class="col-4 grid">
        <div class="col-4"><label>Độ khẩn<span class="red-text">*</span></label></div>
        <div class="col-8">
          <p-dropdown
            [options]="listUrgency"
            [(ngModel)]="thuDi.urgencyLevel"
            [showClear]="true" placeholder="---Vui lòng chọn---"
            optionLabel="name"></p-dropdown>
        </div>
      </div>
      <div class="col-4 grid" *ngIf="checkboxTypeLetter.key =='1'">
        <div class="col-4"><label>Nơi nhận <span class="red-text">*</span></label></div>
        <div class="col-8">
          <p-dropdown
            [options]="listReceivePlace"
            [(ngModel)]="thuDi.receivePlace"
            (onChange)="getReceiveUnit()"
            optionLabel="name"
            [filter]="true" filterBy="name"
            [showClear]="true" placeholder="--Vui lòng chọn--">
            <ng-template pTemplate="selectedItem">
              <div *ngIf="thuDi.receivePlace">
                <div>{{thuDi.receivePlace.name}}</div>
              </div>
            </ng-template>
            <ng-template let-data pTemplate="item">
              <div>{{data.name}}</div>
            </ng-template>
          </p-dropdown>
        </div>
      </div>
      <div class="col-4 grid" *ngIf="checkboxTypeLetter.key =='1'">
        <div class="col-4"><label>Đơn vị nhận <span class="red-text">*</span></label></div>
        <div class="col-8">
          <p-dropdown
            [options]="listReceiveUnit"
            [(ngModel)]="thuDi.receiveUnit"
            (onChange)="getAffiliatedReceiveUnit()"
            optionLabel="name"
            [filter]="true"
            filterBy="name"
            [showClear]="true" placeholder="--Vui lòng chọn--">
            <ng-template pTemplate="selectedItem">
              <div *ngIf="thuDi.receiveUnit">
                <div>{{thuDi.receiveUnit.name}}</div>
              </div>
            </ng-template>
            <ng-template let-data pTemplate="item">
              <div>{{data.name}}</div>
            </ng-template>
          </p-dropdown>
        </div>
      </div>
      <div class="col-4 grid" *ngIf="checkboxTypeLetter.key =='1'">
        <div class="col-4"><label>Đơn vị trực thuộc nhận</label></div>
        <div class="col-8">
          <p-dropdown
            [options]="listAffiliatedReceiveUnit"
            [(ngModel)]="thuDi.affiliatedReceiveUnit"
            (onChange)="getListRecipient()"
            optionLabel="name" [filter]="true" filterBy="name"
            [showClear]="true" placeholder="--Vui lòng chọn--">
            <ng-template pTemplate="selectedItem">
              <div *ngIf="thuDi.affiliatedReceiveUnit">
                <div>{{thuDi.affiliatedReceiveUnit.name}}</div>
              </div>
            </ng-template>
            <ng-template let-data pTemplate="item">
              <div>{{data.name}}</div>
            </ng-template>
          </p-dropdown>
        </div>
      </div>
      <div class="col-4 grid" *ngIf="checkboxTypeLetter.key=='1'">
        <div class="col-4"><label>Người nhận</label></div>
        <div class="col-8">
          <p-dropdown
            [options]="listRecipient"
            [(ngModel)]="thuDi.recipient"
            optionLabel="fullName" [filter]="true" filterBy="fullName"
            [showClear]="true" placeholder="--Vui lòng chọn--">
            <ng-template pTemplate="selectedItem">
              <div *ngIf="thuDi.recipient">
                <div>{{thuDi.recipient.fullName}}</div>
              </div>
            </ng-template>
            <ng-template let-data pTemplate="item">
              <div>{{data.fullName}}</div>
            </ng-template>
          </p-dropdown>
        </div>
      </div>
      <div class="col-4 grid" *ngIf="checkboxTypeLetter.key =='2'">
        <div class="col-4"><label>Nơi nhận bên ngoài</label></div>
        <div class="col-8 flex flex-row">
        </div>
      </div>
      <div *ngIf="checkboxTypeLetter.key=='1'" class="col-4 grid">
        <div class="col-4"><label>Địa chỉ nhận <span class="red-text">*</span></label></div>
        <div class="col-8">
          <textarea [disabled]="true" [(ngModel)]="thuDi.receiveAddress" class="w-full" [rows]="2" [cols]="30"
                    pInputTextarea></textarea>
        </div>
      </div>
      <div *ngIf="checkboxTypeLetter.key=='2'" class="col-4 grid">
        <div class="col-4"><label>Địa chỉ nhận <span class="red-text">*</span></label></div>
        <div class="col-8">
          <textarea class="w-full" [rows]="1" [cols]="30" pInputTextarea></textarea>
        </div>
      </div>
      <div class="col-4 grid">
        <div class="col-4"><label>Đơn vị chuyển phát</label></div>
        <div class="col-8">
          <p-dropdown
            [options]="listDeliveryUnit"
            [(ngModel)]="thuDi.deliveryUnit"
            optionLabel="name" [filter]="true" filterBy="name"
            [showClear]="true" placeholder="--Vui lòng chọn--">
            <ng-template pTemplate="selectedItem">
              <div *ngIf="thuDi.deliveryUnit">
                <div>{{thuDi.deliveryUnit.name}}</div>
              </div>
            </ng-template>
            <ng-template let-data pTemplate="item">
              <div>{{data.name}}</div>
            </ng-template>
          </p-dropdown>
        </div>
      </div>

      <div class="col-4 grid">
        <div class="col-4"><label>Số vận đơn</label></div>
        <div class="col-8">
          <input [(ngModel)]="thuDi.itemCode" [disabled]="true" class="w-full" pInputText type="text">
        </div>
      </div>

      <div class="col-4 grid">
        <div class="col-4"><label>Chi phí</label></div>
        <div class="col-8">
          <p-inputNumber [(ngModel)]="thuDi.cost" styleClass="w-full" class="w-full" mode="decimal"></p-inputNumber>
        </div>
      </div>

      <div class="col-4 grid">
        <div class="col-4"><label for="1">Tình trạng</label></div>
        <div class="col-8"><input id="1" [disabled]="true" class="w-full"
                                  [(ngModel)]="thuDi.status"
                                  placeholder="Đang soạn"
                                  pInputText type="text"></div>
      </div>
      <div class="col-8 grid">
        <div class="col-12 grid">
          <div class="col-2"><label>Trích yếu</label></div>
          <div class="col-10">
            <label>
              <textarea class="w-full" [(ngModel)]="thuDi.summary" [rows]="5" [cols]="30" pInputTextarea></textarea>
            </label>
          </div>
        </div>
      </div>
    </div>
  </p-fieldset>
  <div class="col-12 flex justify-content-center">
    <div *ngIf="checkTypeAction=='add'">
      <button class="tool" pButton icon="pi pi-book" (click)="saveData('add')" type="button"
              label="Lưu dữ liệu"></button>
    </div>
    <div *ngIf="checkTypeAction=='edit'">
      <button class="tool" pButton icon="pi pi-book" (click)="saveData('edit')" type="button"
              label="Lưu dữ liệu"></button>
    </div>
  </div>
</p-dialog>
