.login-sc {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 12px;
  padding: 12px;
  width: 30%;
  height: 50vh;
  margin: auto;
}
.main-login{
  width:90vw;
  height:90vh;
  //background-image: url("login-bg-2.jpg");
}
