@import "../assets/theme/deeppurple/theme-light.css";
@import "../node_modules/primeflex/primeflex.css";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/primeng.min.css";

body{
  //background-color: #f7faf5;
  background-color: #ffffff;
  font-family: 'roboto', sans-serif;
}
.content {
  margin: 0px 10px 0px 10px;
  padding-top:25px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.button-header {
  width:93%;
  display:flex;
  justify-content:end;
}
.fix-but {
  position: fixed;
  top: 50px;
  z-index: 9;
}
.form-body {
  width:90vw;
  margin:auto;
  padding-top:20px;
  padding-left:30px;
}
div > label {
  font-size: 13px;
  font-weight: normal;
}

input {
  width:100%;
}

p-calendar {
  width:100%;
}

.tool-right {
  display:flex;
  justify-content:end;
}

.dialog-85 {
  width:85vw;
  height:85vh;
}

.text-spacing {
  text-align: end;
}

.header {
  font-size: 14px;
  font-weight: bold;
  padding:20px
}
.spacing-inline{
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: row;
}
ul {
  list-style: none;
  font-size: 13px;
  padding: 10px;
}
li {
  color: red;
  padding: 10px;
}
a {
  text-decoration-line: none;
  font-weight: bold;
  color: #9B2335;
}
th {
  font-size:13px;
  font-weight: bold;
}
.tool {
  margin:6px;
  width:120px;
}
.tool-auto-width {
  margin:6px;
  width:auto;
}
.op {
  width: 60vw;
  height:60vh
}
.buttonBottomFixed{
  position: fixed;
  bottom:5px;
  width: 100%;
  z-index:1
}
.red-text {
  color:red;
  font-size:16px;
  font-weight:bolder;
}
.background {
  width: 100%;
  height: 80vh;
  background-image: url("https://amymhaddad.s3.amazonaws.com/morocco-blue.png");
}

