<p-toast></p-toast>
<p-fieldset legend="Sổ thư đi" [style]="{overflow: 'auto', height:'87vh'}">
  <p-panel header="Thông tin">
    <app-base-danh-muc
      [isFunction]="true"
      [listData]="listBookTo"
      [cols]="cols"
      (idData)="dataEmit($event)"
      (isClickAdd)="popUpAdd($event)"
      (isClickEdited)="popUpEdited($event)"
      (isClickDelete)="isDeleted($event)"
    >
    </app-base-danh-muc>
  </p-panel>
</p-fieldset>


<p-dialog [draggable]="false" header="Thêm mới sổ thư đi" [(visible)]="onShowBookToAdd"
          [style]="{width: '45vw', height:'50vh'}">
  <p-fieldset legend="Thông tin">
    <div class="grid">
      <div class="col-2">
        <label>Tên sổ thư</label>
      </div>
      <div class="col-10">
        <input [(ngModel)]="selectedLetterNoteBook.name" pInputText="">
      </div>
    </div>
  </p-fieldset>
  <div class="grid">
    <div class="col-12 flex justify-content-center">
      <button pButton class="tool" type="button" (click)="addLetterNoteBook()"  icon="pi pi-book" label="Lưu dữ liệu">
      </button>
    </div>
  </div>
</p-dialog>

<p-dialog [draggable]="false" header="Cập nhật sổ thư đi" [(visible)]="onShowBookToEdited"
          [style]="{width: '45vw', height:'50vh'}">
  <p-fieldset legend="Thông tin">
    <div class="grid">
      <div class="col-2">
        <label>Tên sổ thư</label>
      </div>
      <div class="col-10">
        <input [(ngModel)]="selectedLetterNoteBook.name" pInputText="">
      </div>
    </div>
  </p-fieldset>
  <div class="grid">
    <div class="col-12 flex justify-content-center">
      <button pButton class="tool" type="button" (click)="editLetterNoteBook()"  icon="pi pi-book" label="Lưu dữ liệu">
      </button>
    </div>
  </div>
</p-dialog>
